.vs
.user
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
Assets/AssetStoreTools*
UnityPlayer.dll
*.exe
*_Data/
build/
Build/
UnityPlayer.dll
export/
Tobii.GameIntegration.dll
*.csproj
*.sln
sh.exe.stackdump
.vscode
Assets/Wwise/Editor/